In [2]:
import pandas as pd
import numpy as np

In [51]:
# mock data
a = np.arange(0,100).reshape((10,10))
index = [1,1,2,2,3,3,3,3,4,5]
col = ['a','b','c','d','e','f','g','h','i','j']
#d = np.vstack((index,a)).T
#d

In [52]:
df = pd.DataFrame(data=a,index=index,columns=col)
df

    a   b   c   d   e   f   g   h   i   j
1   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
2  30  31  32  33  34  35  36  37  38  39
3  40  41  42  43  44  45  46  47  48  49
3  50  51  52  53  54  55  56  57  58  59
3  60  61  62  63  64  65  66  67  68  69
3  70  71  72  73  74  75  76  77  78  79
4  80  81  82  83  84  85  86  87  88  89
5  90  91  92  93  94  95  96  97  98  99

In [24]:
for i, grp in df.groupby(level=0):
    print(grp,"\n")

    a   b   c   d   e   f   g   h   i   j
1   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19

    a   b   c   d   e   f   g   h   i   j
2  20  21  22  23  24  25  26  27  28  29
2  30  31  32  33  34  35  36  37  38  39

    a   b   c   d   e   f   g   h   i   j
3  40  41  42  43  44  45  46  47  48  49
3  50  51  52  53  54  55  56  57  58  59
3  60  61  62  63  64  65  66  67  68  69
3  70  71  72  73  74  75  76  77  78  79

    a   b   c   d   e   f   g   h   i   j
4  80  81  82  83  84  85  86  87  88  89

    a   b   c   d   e   f   g   h   i   j
5  90  91  92  93  94  95  96  97  98  99

In [69]:
df.loc[1,'e'] = 14
df

    a   b   c   d   e   f   g   h   i   j
1   0   1   2   3  14   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
2  30  31  32  33  34  35  36  37  38  39
3  40  41  42  43  44  45  46  47  48  49
3  50  51  52  53  54  55  56  57  58  59
3  60  61  62  63  64  65  66  67  68  69
3  70  71  72  73  74  75  76  77  78  79
4  80  81  82  83  84  85  86  87  88  89
5  90  91  92  93  94  95  96  97  98  99

In [ ]:
def fun(grp):
    #res = grp.drop(columns=['e','f'])
    res = grp.drop_duplicates(subset=['e'])
    res = res.reset_index(drop=True)
    print(res)
    return res

grps = df.groupby(level=0)
grps.apply(fun, result_type=None)

In [80]:
def fun(grp):
    #res = grp.drop(columns=['e','f'])
    res = grp.drop_duplicates(subset=['e'])
    res = res.reset_index(drop=True)
    print(res)
    return res

grps = df.groupby(level=0)
grps.apply(fun, result_type=None)

TypeError: fun() got an unexpected keyword argument 'result_type'

In [70]:
r = []
for i, grp in df.groupby(level=0):
    r.append(fun(grp))
pd.concat(r)

   a  b  c  d   e  f  g  h  i  j
1  0  1  2  3  14  5  6  7  8  9
    a   b   c   d   e   f   g   h   i   j
2  20  21  22  23  24  25  26  27  28  29
2  30  31  32  33  34  35  36  37  38  39
    a   b   c   d   e   f   g   h   i   j
3  40  41  42  43  44  45  46  47  48  49
3  50  51  52  53  54  55  56  57  58  59
3  60  61  62  63  64  65  66  67  68  69
3  70  71  72  73  74  75  76  77  78  79
    a   b   c   d   e   f   g   h   i   j
4  80  81  82  83  84  85  86  87  88  89
    a   b   c   d   e   f   g   h   i   j
5  90  91  92  93  94  95  96  97  98  99

    a   b   c   d   e   f   g   h   i   j
1   0   1   2   3  14   5   6   7   8   9
2  20  21  22  23  24  25  26  27  28  29
2  30  31  32  33  34  35  36  37  38  39
3  40  41  42  43  44  45  46  47  48  49
3  50  51  52  53  54  55  56  57  58  59
3  60  61  62  63  64  65  66  67  68  69
3  70  71  72  73  74  75  76  77  78  79
4  80  81  82  83  84  85  86  87  88  89
5  90  91  92  93  94  95  96  97  98  99